h1{
	text-align: center;
	color: orange;
}

.text{
	border: 2px solid orange;
}

p{
	font-size: 20px;
	margin: 20px;
	color: orange;
}

.menu1 {
	list-style-type: none;
	position: fixed;
	width: 100%;
	top: 0;
	background-color: orange;
}
.menu1 a{
	float: left;
	display: block;
	color: white;
	font-size: 15px;
}
.menu1 a:link, .menu1 a:visited
{
	text-decoration: none;
	color: white;
	background-color: orange;
	font-size: 15px;
	padding: 10px;
	top: 0;

}
.menu1 a:hover, .menu1 a:active{
	color: orange;
	background-color: white;
	float: left;
}






.end {
	list-style-type: none;
	text-align: center;
}

.end a{
	color: white;
	font-size: 15px;
	color: orange;
	text-decoration: none;
	margin-right: 15px;
	margin-left: 15px;
	text-align: center;
}

.end a:hover, .menu1 a:active{
	color: black;
	text-align: center;
	font-size: 17px;
}