body{
	color: black;
	background-color: #f6d8d5;
	text-align: left
}

.title{
	font-size: 30px;
	color: darkred;
	padding: 20px;
}

table{
	margin: 10% 25%;
    border: 6px outset white;
    width: 700px;
    height: 280px;
	padding: auto;
	border-collapse: separate;
	border-spacing: 0.3em
}

th,td{
	border: 1.5px inset white;
    font-size: 20px;
}

.leftrow{
	background-color: #974b43;
	color: white;
	text-align: center;
	font-size: 16px;
	padding-bottom: 10px;
	font-weight: bold;
}


